body{
    background-color: pink;
    max-width: 398px;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;
}

li{
    text-align: left;
}